body{
    margin: 10px;
    padding :0px;
}

.navbar{
    display: flex;
    justify-content: flex-end;
    background-color:white;
    width: 100%;
}

.menu{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 2px;
    border-radius: 5px;
    box-shadow: 2px 5px lightgrey;
    padding: 15px;
    margin: 40px;
    color: white;
    
    background-color: #a4133c;
    font-size: 20px;
    transition: 1s ease-in-out;
  



}

.menu:hover {
    transition: 1s ease-in-out;
    background:white;
    color: #a4133c ;
    transform: translate(30px, 10px);
  }

.floralbg{
    
    
    
    margin-top: 20px;
    width: 100%;
   height: 500px;
}

h4{
    
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        background-color: rgba(211, 211, 211, 0.158);
        padding: 5px;
        border-radius: 7px;
        
      
}

hr{
    width: 70px;
    
}









.container {
  background: #f9f9f9;
}

.flex-column {
  max-width: 260px;
}

img {
  margin: 5px;
}

.scale {
  transform: scaleY(1.05);
  padding-top: 5px;
}


body {
  font-family: Raleway, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #6d6d6d;
  overflow-x: hidden;
}



/*-----------------------
----- Typo Styles ------
-------------------------*/
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 100;
}

.big-text {
  font-size: 58px;
  font-weight: 300;
  line-height: 62px;
  letter-spacing: 0.01em;
  word-spacing: 0.15em;
  text-transform: uppercase;
}

.section-title {
  margin-top: -20px;
  margin-bottom: 80px;
  text-align: center;
}

/*-----------------------
----- Layout Styles -----
-------------------------*/

.add-padding {
  padding-top: 50px;
  padding-bottom: 50px;
}




/*----------------------
----- Contact Styles ----
------------------------*/


#contact-form .form-group label {
  display: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: 100;
  text-transform: uppercase;
}

#contact-form.no-placeholder .form-group label {
  display: block;

}

#contact-form .controls {
  padding: 0;
  margin-bottom: 30px;
  border: 1px solid rgb(143, 50, 50);
  border-radius: 4px;
}

#contact-form .form-control {
  background: transparent !important;
  border: none;
  border-bottom: 3px solid transparent;
  border-radius: 0;
  outline: none;
  box-shadow: none;
  height: 56px;
  font-size: 21px;
  line-height: 32px;
  font-weight: 100;
  padding-left: 64px;
  border-radius: 2px;
}

#contact-form .form-group {
  position: relative;
}

#contact-form .form-group [class*=fa] {
  display: block;
  width: 64px;
  position: absolute;
  top: 0;
  left: 5px;
  color: #fffafa;
  font-size: 24px;
  line-height: 53px;
  text-align: center;
  font-weight: 300;
  opacity: 0.5;
  transition: opacity .2s ease-out;
}

#contact-form.no-placeholder .form-group [class*=fa] {
  top: 30px;
}

#contact-form .form-control:focus+[class*=fa] {
  opacity: 1;
}

#contact-form textarea.form-control {
  height: auto;
  max-width: 100%;
  min-width: 100%;
  font-size: 21px;
  line-height: 32px;
  padding-top: 10px;
}


#contact-form .error-message {
  padding: 5px 0;
  position: absolute;
  top: -30px;
  right: 0;
  font-size: 14px;
  font-weight: 300;
  color: #ff0000;
  z-index: 10;
}

#contact-form .error-message:before {
  content: "\00d7";
  font-size: 21px;
  line-height: 21px;
  margin-right: 5px;
}